.hidden {
  display: none;
}
*,
*::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  background-color: #ffffff;
  letter-spacing: 0.02em;
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* common main styles */

.container {
  width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 15px;
  }
}

/* header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation-main {
  display: flex;
  align-items: center;
}
.navigation-list,
.contacts {
  display: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;

  padding: 16px 0;
  display: block;
}
.span-main {
  color: #2e2f42;
}
.burger-btn {
  display: block;
  padding: 0;
  background-color: transparent;
  border: none;

  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .navigation-list {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  .contacts {
    font-style: normal;
    display: block;
  }
  .logo {
    margin-right: 120px;
    padding: 24px 0;
  }

  .navigation {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navigation::after {
    position: relative;
    content: "";
    width: 100%;
    border-radius: 2px;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    opacity: 0;
    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navigation:hover::after,
  .navigation:focus::after,
  .navigation.current::after {
    opacity: 1;
  }
  .navigation:hover,
  :focus,
  .contact-info:hover,
  :focus,
  .navigation.current {
    color: #404bbf;
  }
  .contact {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contact-info {
    display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
  }
}
@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
  .contact {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .navigation-list-item {
    padding: 24px 0;
  }
  .contact-info {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* mobile-menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  scale: 2;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.mobile-menu.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  scale: 1;
  transition: scale 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu-nav {
  margin-top: 24px;
  margin-bottom: auto;
  margin-right: auto;
  align-items: left;
  padding: 0;
}

.mobile-menu-close {
  display: flex;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: transparent;

  border: 1px solid #2e2f42;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.navigation-mob {
  color: inherit;
}

.navigation-mob:hover,
.navigation-mob:focus,
.contact-info-mob:hover,
.contact-info-mob:focus {
  color: #404bbf;
}

.navigation-list-mobile {
  display: flex;
  flex-direction: column;
  gap: 40px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  margin-left: 0;
}
.mobile-menu-address {
  font-style: normal;
  display: block;
}
.contact-mob {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.list-mob {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 48px;
}
.list-item-mob {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

svg.social-mob {
  fill: #f4f4fd;
}

.social-icon-mob {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon-mob:hover,
.social-icon-mob:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/* main-hero-section */
.main-banner {
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    image-set(
      "../images/hero/mob-hero.jpg" 1x,
      "../images/hero/mob-hero@2x.jpg" 2x
    );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 320px;
  min-height: 432px;
  margin: 0 auto;
}
.main-banner-container {
  margin: 0 auto;
}
.main-head {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 40px;
  color: #ffffff;
  max-width: 216px;
  padding: 72px 0;
  margin: 0 auto;
}

.button-order {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  min-width: 169px;
  border: none;
  height: 56px;

  margin: 0 auto;

  border-radius: 4px;
  margin-bottom: 72px;
}

.button-order:hover,
:focus {
  background-color: #404bbf;
}
/* modal */

.bachdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bachdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 16px 24px 16px;
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  transform: translate(-50%, -50%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.bachdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  background-color: #e7e9fc;
  width: 24px;
  height: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  stroke-width: 1px;
  border-radius: 50%;
  cursor: pointer;
}
.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
}
.close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover > .close-icon,
.modal-close:focus > .close-icon {
  fill: #ffffff;
}
.form-text-main {
  font-weight: 500;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.form {
  width: 256px;
  min-height: 336px;
  margin: 0 auto;
}

.form-label {
  width: 100%;
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  color: #8e8f99;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label:hover,
.form-label:focus,
.form-label:active {
  color: #4d5ae5;
}
.form-input-box {
  position: relative;
}

.form-user {
  margin-bottom: 16px;
}

svg.icon-person {
  position: absolute;

  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-person:hover,
.icon-person:focus,
.icon-person:active {
  fill: #4d5ae5;
}
.form-user-comments {
  margin-bottom: 16px;
}
.form-user-comments .form-input-box {
  min-height: 120px;
}
.form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  font-size: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: #4d5ae5;
  background-color: #fff;
}
.form-input-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .icon-person {
  fill: #4d5ae5;
}
.form-input-textarea:focus,
.form-input-textarea:active {
  border-color: #4d5ae5;
  background-color: #ffffff;
}
#user-comments {
  vertical-align: top;
  padding-left: 16px;
  padding-top: 8px;
  resize: none;
  width: 100%;
  min-height: 120px;
  font-size: 16px;
  font-weight: 400;
  font-size: 12px;
  background-color: transparent;
  border: none;
}
textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.form-user-comments {
  margin-bottom: 16px;
}
.checkbox-field {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
  margin-bottom: 24px;
}
.checkbox-label {
  display: flex;
  line-height: 1.17;
  letter-spacing: 0.04em;
  font-weight: 400;
  font-size: 12px;
  color: #8e8f99;
}
.checkbox-custom {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
  cursor: pointer;
  margin-right: 8px;
  border-radius: 2px;
}

.checkbox-input:checked + .checkbox-label > .checkbox-custom {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.privacy-link {
  text-decoration: underline;
  color: #4d5ae5;
}
.button-send {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  min-width: 169px;
  border: none;
  height: 56px;

  margin: 0 auto;

  border-radius: 4px;
}

.button-send:hover,
:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
  }
  .form {
    width: 360px;
  }
  .main-banner {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      image-set(
        "../images/hero/tab-hero.jpg" 1x,
        "../images/hero/tab-hero@2x.jpg" 2x
      );

    max-width: 768px;
    min-height: 436px;
    margin: 0 auto;
  }
  .main-head {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    padding: 36px 0;
    padding-top: 112px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1158px) {
  .form {
    width: 360px;
  }
  .main-banner {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      image-set(
        "../images/hero/desk-hero.jpg" 1x,
        "../images/hero/desk-hero@2x.jpg" 2x
      );

    max-width: 1158px;
    min-height: 600px;
    margin: 0 auto;
  }
  .main-head {
    padding: 48px 0;
    padding-top: 188px;
    margin: 0 auto;
  }
}
/* 
work-banner */
.work {
  padding: 96px 0;
}

.icon-box {
  display: none;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.work-list-item {
  width: 100%;
}

.banners {
  text-align: center;
  font-weight: 700;
  font-size: 36px;

  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.our-work {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: #434455;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .work-list {
    row-gap: 72px;
    column-gap: 24px;
  }
  .banners {
    text-align: left;
  }
  .work-list-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .work {
    padding: 120px 0;
  }

  .icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    width: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }
  .icon-box svg {
    margin: 24px 100px;
  }

  .work-list {
    display: flex;
    gap: 24px;
  }
  .work-list-item {
    width: calc((100% - 72px) / 4);
  }

  .banners {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }

  .our-work {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    margin-bottom: 8px;
  }
}
/* team  */
.our-team {
  background-color: #f4f4fd;
  letter-spacing: 0.02em;
  padding: 120px 0;
}
.teammates {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 72px;
}

.team-members {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  width: 264px;
}
.member-name {
  padding: 32px 0;
}
.team-member {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;

  margin-bottom: 8px;
}
.member {
  text-align: center;
}
.team-social-media-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-social-media-list-item {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

svg.team-icon-social {
  fill: #f4f4fd;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon:hover,
.social-icon:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .team-list {
    row-gap: 24px;
    column-gap: 64px;
  }
}
@media screen and (min-width: 1158px) {
  .team-list {
    gap: 24px;
  }
}
